@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px #1D1D1D;
}

.text-outline-white {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}
