@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px #1D1D1D;
}

.text-outline-white {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.loader {
  border-top-color: #1D1D1D;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  height: 6px; 
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); 
}
